<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te estamos contactando para notificarte que estamos cambiando tu correo a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te escribimos para notificarte que tu correo cambio a <%= @resource.email %>.</p>
<% end %>
