<p>Hola <%= @resource.first_name %>!</p>

<p>Te escribimos porque nos has solicitado un cambio de clave. Puedes darle click al siguiente link para poder cambiar tu contraseña:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ignora este correo si no solicitaste un cambio.</p>
<p>Tu contraseña no cambiará hasta que no la cambies a través del vínculo mencionado.</p>
